# =========================
# STOCKFISH
# =========================
backend/engine/stockfish.exe
backend/engine/
stockfish.exe
*.exe
*.dll

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

# Ambientes virtuais
venv/
.venv/
backend/venv/
backend/.venv/

# Variáveis de ambiente
.env
.env.*
!.env.example

# =========================
# Node / React
# =========================
node_modules/
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Arquivos temporários
# =========================
*.tmp
*.temp
*.log